.whiteColor{
    color: #ffffff;
}

.grayColor{
    color: #979797;
}

.whiteColor h1{
    color: #ffffff;
}

.color-fondo{
    background-color: #3BC14A;
}

.navbar-brand img{
    max-width: 8vh;
}

.dropdown .color-fondo{
    background-color: #4DA167;
}

.d-flex img{
    max-width: 4vh;
}

.btn{
    margin-right: 20px;
}

body{
    background-color: #e9e9e9;
}

.backImg{
    display: flex;
    justify-content: center;
}

.carousel-padre{
    width: 75vw;
    margin: 0 auto;
}

.nuestros-servicios{
    color: #58449b;
}

.container{
    display: flex;
    justify-content: center;
}

.container img{
    max-height: 190px;
}

.container .card{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item a{
    color: white;
}

.card h5{
    color: #58449b;
}

.containerTamanio{
    max-width: 50vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sombreadoCardTitle{
    text-shadow: 4px 4px 4px black;
    color: white;
}



.formasDePago{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formasDePago h2{
    margin: 40px;
    color: #58449b;
}

.formasDePago img{
    margin: 20px;
}

.contactenos{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactenos h2{
    color: #58449b;
    margin: 20px;
}

.containerContacto{
    display: flex;
    flex-direction: row;

}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.phone .material-symbols-outlined{
    margin: 10px;
}

.whatsflex{
    display: flex;
    justify-content: center;
}

.whatsflex .btn {
    margin-right: 0px;
}